.About {
  margin-top: 10em;
}

.About-Flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutHome {
  text-align: center;
  margin-right: 6em;
}

.About__title {
  color: #243d52;
  text-transform: uppercase;
  font-size: 32px;
}

.About__description {
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
}
