.Suscribet {
  background: linear-gradient(to right, #0b7d9a, #2051ad);
  padding: 4em 0;
}

.Suscribe-Flex {
  display: flex;
  justify-content: space-between;
}

.Suscribet__title {
  text-align: center;
  font-size: 50px;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: bold;
  padding-top: 2em;
}

.SuscribetBox {
  justify-self: center;
}

.SuscribetBox__title {
  font-family: "Lato", sans-serif;
  color: #f2da00;
  font-size: 35px;
  font-weight: bold;
}

.SuscribetBox__description {
  color: #fff;
  font-size: 14px;
  font-weight: regular;
  max-width: 350px;
}

.SuscribetForm label {
  color: #fff;
  display: block;
  padding: 10px 0;
}

.SuscribetForm input {
  width: 350px;
  padding-left: 10px;
  border-radius: 4px;
  line-height: 3;
  outline: 0;
  border: 0;
  display: block;
}

.SuscribetForm__btn {
  width: 350px;
  display: flex;
}

.SuscribetForm button {
  background: #b41143;
  color: #fff;
  padding: 0.5em 1em;
  border: 0;
  display: inline-block;
  justify-self: right;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1em;
  justify-self: end;
  border-bottom: 3px solid #b41143;
}

.SuscribetForm button:hover {
  background: #cc1a50;
}
