// BASE

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alegreya Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px; /* Tamaño del scroll en vertical */
  display: none; /* Ocultar scroll */
}

::-webkit-scrollbar-thumb {
  background: #0c214a;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #2051ad;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

// BASE
