.titleBarContainer {
  background-color: #23a2bc;

  .TitleBar h2 {
    color: #fff;
    margin: 0;
    padding: 15px 0;
    font-size: 40px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
}
